div(class='home') 
  h3 Material demo page
div(class='demo-toolbar')
  p
    md-toolbar
      span Default Toolbar
      span(class='demo-fill-remaining')

  p
    md-toolbar(color='primary')
      span Primary Toolbar
      span(class='demo-fill-remaining')