div(class='home') 
  h3 Home component!
  div(class='readme')
    p This app is a starter kit with angular 2, webpack 2, and material 2. 
    p It is under construction so any upgrades/improvements are welcome.
    p You can go to 
      a https://github.com/angular/material2
      span repository to check the components available on material2.
    p If you go to the material tab you can see one material2 component working.
    br
    p any doubts please send an email to 
      strong josue.RiosDiaz@almundo.com