nav
  a(routerLinkActive='router-link-active' routerLink='home') Home
  a(routerLinkActive='router-link-active' routerLink='material') Material
  a(routerLinkActive='router-link-active' routerLink='extra') Extra
div(class='hero-universal')
  div(class='inner-hero')
    div
      h1
        span(xLarge) Almundo Demo {{ title }}!

    main
      router-outlet